.Cell {
    height: 20px;
    width: 20px;
    border-radius: 1px;
    background-color: grey;
    /* transition: background-color 0.7s ease; */
  }
  
  .Cell-Alive {
    background-color: #00bcd4;
  }